<!--div class="backgroundDiv"-->
<nav>
  <h2>A little about me!</h2>
  <hr class="titleUnderline">
</nav>
<div class="row">
  <div class=" col-xs-7 col-md-3 leftPaneDisplay">
    <img src="../assets/images/mypic.gif" class="displayPic">
    <div class="profileName">
      Rama Chaitanya Mukkamala
    </div>
    <div class="profileDesc">
      <img src="../assets/images/icon_email.png" class="profileIcon">
      <span><a href="mailto:ramachaitanya@gmail.com">ramachaitanya@gmail.com</a></span>
    </div>
    <div class="profileDesc">
      <img src="../assets/images/icon_phone.png" class="profileIcon">
      <span>(+1) 416 881 4684</span>
    </div>
    <div class="profileDesc">
      <img src="../assets/images/icon_location.png" class="profileIcon">
      <span>Toronto, Canada</span>
    </div>
  </div>
  <div class="col-xs-10 col-md-8 rightPaneDisplay" >
    <div>
      <span>
        I come with over 10 years of experience with a mix of Strategy Development, Product Management, 
        and Programming. I have worked in a good number of cross functions and am exposed to many facets of both
        business and technology, and hence can most likely contribute in any roles which need knowledge 
        covering cross-functional areas.
        <br /> <br />
        In my free time you can usually find me fiddling with some code, or travelling to a new destination, catching 
        up with friends or favorite shows (my love for Big Bang Theory is everlasting), or trying to learn something new
        (the latest being guitar). Volunteering in a position where I can give back to the society is close to my heart,
        and which I find very passionate about.
      </span>
    </div>
    <div class="row profilebottomContainer">
      <div class="col-md-6 col-xs-10">
        Life has thankfully given me enough opportunities to travel, and see many places. I have lived in about 5 countries
        till now, and recently relocated to my new home - Toronto, Canada. I hope this will be the place I will call home 
        for a long time. I have put up a small map to track all the places I have been to, and hope the map will be filled 
        with more blue pins in the future.
        <br /> <br />
        Do feel free to drop me a mail if you like my site, or follow me on Instagram. If you like my profile and want to 
        connect with me for opportunities please give me a call anytime.
      </div>
      <div class="col-md-6 col-xs-10 mapsContainer">
        <div #gmap class="googleMapsDisplay"></div>
        <img src="../../../assets/images/icon_red_pin.png"> I have lived or worked here.
        <img src="../../../assets/images/icon_blue_pin.png"> I have visited this place.<br/>
        <span>NOTE: You can use your mouse scroll to zoom in/out, and pan through the map</span>
      </div>
    </div>
    
  </div>
</div>

