<!--div class="displayLiProfile">
  <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="ramachaitanya">
      <a class="LI-simple-link" href='https://ca.linkedin.com/in/ramachaitanya?trk=profile-badge'>Rama Chaitanya Mukkamala</a>
  </div>
</div-->
 
<div class="profileBody">
  <div class="row rowDiV">
    <div id="verticalContainer" class="col-xs-4 col-md-2 leftPane">
      <div class="leftPageItems" id="leftAboutMe">
        <img src="../assets/images/aboutme.png" class="profileLeftIcons" (click)="changeTextDisplay('aboutmeText');" [routerLink] = "['aboutme']" >
        <h6 id="aboutmeText">About Me</h6>
      </div>
      <div class="leftPageItems" id="leftEducation">
          <img src="../assets/images/education.png" class="profileLeftIcons" (click)="changeTextDisplay('educationText');">
          <h6 id="educationText">Education</h6>
        </div>
      <div class="leftPageItems" id="leftWorkExp">
        <img src="../assets/images/workexp.png" class="profileLeftIcons" (click)="changeTextDisplay('workexpText');">
        <h6 id="workexpText">Work <br>Experience</h6>
      </div>
      <div class="leftPageItems" id="leftVolunteerExp">
        <img src="../assets/images/volunteerexp.png" class="profileLeftIcons" (click)="changeTextDisplay('volunteerText');">
        <h6 id="volunteerText">Volunteer <br>Experience</h6>
      </div>
      <div class="leftPageItems" id="leftToolsSkills">
        <img src="../assets/images/toolsskills.png" class="profileLeftIcons" (click)="changeTextDisplay('toolsskillsText');">
        <h6 id="toolsskillsText">Tools & Skills</h6>
      </div>
    </div>
    <div class="verticalLine">
    </div>
    <div class="col-xs-14 col-md-10">
      <router-outlet></router-outlet> 
    </div>
  </div>
</div>
