<div class="jumbotron mainJumbo">
    <div class="mainJumboCenter">
        <h1 class="display-4">Chaitanya's Potpourri</h1>
        <hr class="my-3">
        <P>A mirror where I see myself through the window of the world!</P>
    </div>
</div>

<div id="homeContainer">
    <div class="homeIconsDiv">
        <img class="homeIcons" src="../assets/images/ideas.png" [routerLink]="['/home']">
        <h4>Blog Posts</h4>
    </div>
    <div class="homeIconsDiv">
        <img class="homeIcons" src="../assets/images/contacts.png" [routerLink]="['/profile']">
        <h4>Profile</h4>
    </div>
    <div class="homeIconsDiv">
        <img class="homeIcons" src="../assets/images/Cloud.png" [routerLink]="['/home'] ">
        <h4>Downloads</h4>
    </div>
</div>

<!--div id = "googleCaptcha">
    
  <script>
  grecaptcha.ready(function() {
      grecaptcha.execute('reCAPTCHA_site_key', {action: 'homepage'}).then(function(token) {
         ...
      });
  });
  </script>
</div-->